*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  margin: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.header {
  text-align: center;
  padding: 1em 0;
}

.cover-image {
  max-width: 100%;
}

.logo {
  height: 30px;
}

.main {
  background-color: #3b4050;
}

.bg {
  background-color: #2e323f;
}
.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}
.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  display: none;
  height: auto;
  position: relative;
}

.nav--visible {
  display: block;
  height: auto;
  position: relative;
}
.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  margin-bottom: -1em;
}

.nav__link {
  text-decoration: none;
  margin-left: -2.5em;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.nav__link-button {
  background-color: #a59678;
  padding: 0.2em 1em;
  border-radius: 2em;
}

.intro {
  background-color: #3b4050;
  min-height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__main {
  grid-gap: 2em;
  text-align: center;
}

.intro__head {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  line-height: 1.6em;
  color: #fff;
}
.alternate-style {
  color: #a59678;
}

.intro__text-text {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 0 1em;
  margin-top: 2em;
}

.intro__text-button {
  background: transparent;
  border: none;
  background-color: #a59678;
  color: #fff;
  margin-top: 2em;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 0.75em 1em;
  border-radius: 2em;
  cursor: pointer;
}

.three__columns {
  background-color: #f1f1f1;
}

.three__columns-main {
  padding: 2em 1em;
  text-align: center;
}
.three__columns-main h2 {
  color: #a59678;
}
.main__content-columns {
  padding: 2em 1em;
}

.main__content-left-head {
  color: #a59678;
}

.main__content-right {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.first-row,
.second-row,
.third-row {
  background-color: #2e323f;
  color: #fff;
  text-align: center;
  padding: 2em 1em;
}

.footer__section {
  background-color: #3b4050;
}

.footer__section-main {
  padding: 2em 1em;
}

.footer__section-heading {
  color: #fff;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.7em;
}

.about {
  /* text-align: center; */
  color: #6f737f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about h4 {
  color: #a59678;
  margin-top: 2em;
}

.about li {
  list-style-type: none;
}

.about li + li {
  margin-top: 1em;
  font-size: 0.8rem;
}

@media (min-width: 1000px) {
  .intro__main {
    display: flex;
    justify-content: space-between;
  }
  .intro__head {
    font-size: 3.5rem;
    text-align: initial;
    width: 50%;
  }

  .intro__text {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    line-height: 2em;
  }

  .intro__text-text {
    font-size: 1.3rem;
    text-align: initial;
  }
  .intro__text-button {
    font-size: 1.3rem;
    padding: 0.5em 1.5em;
    justify-self: flex-start;
    margin-left: 1em;
  }
  .three__columns-main {
    display: flex;
    gap: 2.5em;
    padding: 5em 0;
  }

  .main__content {
    margin-top: 3em;
  }
  .cover-image {
    height: 20em;
    width: 100%;
    object-fit: cover;
    margin: 2em 0;
  }
  .main__content-right {
    margin: 3em 0;
    flex-direction: row;
  }
  .about {
    flex-direction: row;
    justify-content: space-between;
  }
  .about__company {
    width: 50%;
  }
  .footer__section-heading {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.7em;
  }
}

@media (min-width: 1200px) {
  .nav-toggle {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
  }
  .nav {
    display: block;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin: 0;
    justify-content: flex-end;
  }
  .main__content-columns {
    display: flex;
    justify-content: space-between;
  }
  .main__content-left {
    width: 50%;
  }

  .main__content-right {
    margin: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}
